# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración local
.env
*.log

# Ignorar carpetas de dependencias
node_modules/
venv/

# Ignorar archivos compilados
*.class
*.pyc
dist/
build/
